button.button {
	width: auto;
	height: auto;
	padding: 0;
	background-color: transparent;
	color: var(--color-on-surface);
	border: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@include sass.mixin-transition(color, 0.2s);
	transition: color 0.2s ease-in-out;

	&[data-tip]::after {
		content: attr(data-tip);
		position: absolute;
		bottom: 100%;
		left: 50%;
		padding: 0.25rem 0.5rem;
		background-color: hsl(var(--color-surface));
		color: var(--color-on-surface);
		border: 1px solid hsl(var(--color-gray-500));
		border-radius: var(--border-radius);
		border-bottom-left-radius: 0;
		font-size: 0.8rem;
		white-space: nowrap;
		transform: scale(0);
		transform-origin: bottom left;
		opacity: 0;
		z-index: var(--zindex-tooltip);
		pointer-events: none;

		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}

	&:hover {
		color: hsl(var(--color-gray-500));
		cursor: pointer;

		&[data-tip]::after {
			transform: scale(1);
			opacity: 1;
		}
	}

	&:focus {
		box-shadow: none;
	}

	> img,
	svg {
		width: 1.5rem;
		height: 1.5rem;
		pointer-events: none;
	}
}
